@import 'tailwindcss';

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0088ffff;
    background-color: #ffffff;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 24px;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  display: inline-block;
}
